@charset "UTF-8";

/* Layout Medium Screens */

.grid_6
{
	width:			100%;
	display:		block;
}

#video_background 
{
	display:		none;
}

#video hgroup
{
	position:		relative;
}

section#video
{
	background:		url(../img/video-still.jpg) no-repeat center center;
}

.box.grid_3
{
	width:			31%;
	margin:			1%;
	display:		inline-block;
	float:			left;
}

p.large-letter
{
	display:		none;
}
